footer {
    background: var(--color-background);
    padding: 4rem 0;
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.footer__content h4 {
    color: var(--color-primary);
    font-weight: 700;
}

.footer__link {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.footer__link p {
    margin-right: 0.3rem;
    color: var(--color-gray);
    font-weight: 500;
    transition: var(--transition);
}

.footer__link p:hover {
    color: var(--color-white);
    cursor: pointer;
}

.footer__copyright {
    color: var(--color-gray);
}

.footer__social {
    display: flex;
    justify-content: right;
}

.footer__social img {
    cursor: pointer;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.9rem;
}


@media screen and (max-width: 850px) {
    .footer__link {
        display: none;
    }
}